/* home.module.css */
.homecontainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    background-color: #DEF2F1;
  }
  
  
  
  .textWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    gap: 15px;
  }
  
  .ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding: 0; 
    margin: 0; 
  }
  
  .ul li {
    margin: 0 10px; 
  }
  
  .ul a {
    text-decoration: none; 
    color: inherit;
  }
.imageWrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img {
    max-width: 100%;
    height: auto; 
    border-radius: 50%;
  
  }

